
 .jumbotron {
   border-radius: 1rem;
 }

 #deleteButton {
   background-color: transparent;
   border: transparent;
   /* padding: 1rem; */
   /* margin: 1rem; */
 }

 #deleteButton:hover {
   color: var(--bs-red);
   transform: scale(1.2);
   background-color: transparent
 }
 #add-btn:hover {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
 }
 #generate-btn:hover {
    background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
 }
