
/* Delete button from dcode */
.deleteButton {
   width: 30px;
   height: 30px;
   background-image: url("https://www.vhv.rs/dpng/d/562-5627622_trash-can-trash-can-icon-white-png-transparent.png");
   color: darkred;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 50%;
   border: none;
   text-decoration: none;
   transition: background 0.2s;
 }
 
 .deleteButton:hover {
   background-color: red;
   color: white;
   
 }