
 .jumbotron {
   border-radius: 1rem;
 }

 .jumbotron h1 {
   text-shadow: 1px 1px 2px #fff;
 }

 #circle-image {
   border-radius: 50rem;
 }

 #deleteButton {
   position: relative;
   background-color: transparent;
   border: transparent;
 }

 #deleteButton:hover {
   color: red;
   transform: scale(1.5);
   background-color: transparent
 }
 #add-btn:hover {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
 }
 
 #getRecipe:hover {
    background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
 }

 .accordion-button:hover {
    background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
 }

 .recipe-card:hover {
  box-shadow: 16px 16px 16px 0 rgba(0,0,0,0.2);
 }
 
 #generate-btn:hover {
  background: linear-gradient(
  45deg,
  rgba(29, 236, 197, 0.5),
  rgba(91, 14, 214, 0.5) 100%
);
}

#bg-footer {
  opacity: 95%;
}
#footer {
  height: 3rem;
  padding: .5rem;
}
